<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pushstart</title>

    <!-- SEO -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./img/logo.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="pushstart is a Full Service design and cinematography firm.">
    <meta name="keywords"
        content="pushstart, pushstart, logo, design, graphic, video, editing, photoshop, adobe, illustrator, xd, sketch, painting, ui, ux, app, agile team, development, web, ai, outsourcing, ecommerce, fintech, entertainment, crm, social media, logistics, analytics, erp, enterprise, startup, cloud, big data, iot, retail, javascript, js, react, reactjs, node, nodejs, node, angular, angularjs, mean, mern, mongo, mongo db, ibm watson, amazon, aws, scrum, agile, kanban">
    <meta name="robots" content="index,follow">
    <meta name="title" content="Reliable outsource partner for designing the product of all scales">
    <meta property="og:title" content="urbanstop">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://pushstart.in/">
    <meta property="og:site_name" content="pushstart">
    <meta property="og:image" content="./img/logo.png">
    <meta property="og:description"
        content="Reliable outsource partner for designing the product of all scales, a Full Service design and cinematography firm">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- Favicon -->
    <!-- Desktop browsers (including 16x16, 32x32 & 48x48 PNGs) -->
    <link rel="shortcut icon" href="./img/logo.png">
    <!-- Modern browsers & Devices -->
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="48x48">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="64x64">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="128x128">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="196x196">
    <!-- iOS & other mobile devices -->
    <link rel="apple-touch-icon" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="167x167" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/logo.png">
    <link rel="stylesheet" type="text/css" href="./img/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./img/slick/slick-theme.css">
</head>

<body>
    <main>
                <!--Desktop Navbar-->
        <nav>
            <div class="container">
                <div class="nav-wrapper ">
                    <a href="/" class="brand-logo left">
                        <img src="./img/logo.svg" />
                    </a>
                    <ul id="nav-mobile white" class="right hide-on-med-and-down "> 
                        <li><a href="#">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="#join">Join Pushstart</a></li>
                    </ul>
                </div>
                   
                <!-- Mobile Side Nav -->
                <ul id="slide-out" class="sidenav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#join">Joint Pushstart</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
                 <!--Cover Page-->
        <header>
             <div class="overlay"></div>
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                  <source src="./img/video.mp4" type="video/mp4">
                </video>
                <div class="container">
                    <div class="video-container">
                       <div class="w-100 text-white">
                           <h1 class="display-3">
                            Join India’s most active
                            Community of <span>Entrepreneurs</span>
                           </h1>
                       </div>
                        <div class="coverlogin">
                             <div class="row">
                                  <form action="/signup" method="POST">
                                        <div class="input-field col s12 center-align">
                                           <input type="email" name="email" id="email" class="form-control"
                                            placeholder="Your email id" />
                                             <button type="submit" class="waves-effect waves-light btn">Join Now</button>
                                          </div>
                                   </form>
                              </div>
                         </div>
                     </div>
                  </div>
         </header>


                     <!--Who are we-->

        <section class="features">
                <div class="container">
                    <div class="row">
                            <div class="col md 12">
                                    <h2 class="center-align">Who are we? </h2>
                                        <p class="text-black center-align">
                                                  With over 17,000 members across all the Tier 1 and 2 cities,
                                                  we are India's only engagement platform that connects entrepreneurs,
                                                  dreamers and doers. You can~ Ask candid questions, Join conversations
                                                  with industry leaders, Find a mentor and Build a network of supporters.
                                        </p>
                              </div>
                        <div class="col md 4 offset-s1" style="padding-top:5em">
                            <div class="center-align">
                                <img src="./img/engage.svg" style="margin: 0 auto;height: 180px; width: 180px;"
                                    alt="Two people engaging together" />
                                <h5 href="#"><span>1.</span> Engage</h5>
                                <p>Engage with fellow Pushstarters.</p>
                            </div>
                        </div>
                        <div class="col md 4 " style="padding-top:5em">
                            <div class="center-align white">
                                <img src="./img/learn.svg" style="margin: 0 auto; height: 180px; width: 180px;"
                                    alt="One person holding books" />
                                <h5 href="#"><span>2.</span> Learn</h5>
                                <p>Connect and grow your knowledge.</p>
                            </div>
                        </div>
                        <div class="col md 4" style="padding-top:5em">
                            <div class="center-align white">
                                <img src="./img/enjoy.svg" style="margin: 0 auto;  height: 180px; width: 180px;"
                                    alt="Enjoying" />
                                <h5 href="#"><span>3.</span> Enjoy</h5>
                                <p>Connect and Enjoy at our events.</p>
                            </div>
                        </div>
                    </div>
                </div>
         </section>

         <!--PRODUCTS-->
         <section>
                <div class="container">
                        <div class="row top-bottom">
                            <div class="col s12 m12 l6 top-margin ">
                                <h2 >#PushConnect and #PushMeetup
                                </h2>
                                <p >
                                    Meet curated Entrepreneurs and Grow your knowledge and network.
                                    Learn more
    
                                </p>
                            </div>
                            <div class="col s12 m12 l6 left">
                                <div class="about-img top">
                                    <img src="./img/about.png" alt="Group of People" />
                                </div>
                            </div>
                        </div>

                        <div class="row top-bottom" >
                                <div class="col s12 m12 l6 top-margin ">
                                    <h2 >#PushConnect and #PushMeetup
                                    </h2>
                                    <p >
                                        Meet curated Entrepreneurs and Grow your knowledge and network.
                                        Learn more
        
                                    </p>
                                </div>
                                <div class="col s12 m12 l6 ">
                                    <div class="about-img top ">
                                        <img src="./img/about.png" alt="Group of People" />
                                    </div>
                                </div>
                            </div>

                            <div class="row top-bottom">
                                    <div class="col s12 m12 l6 top-margin ">
                                        <h2 >#PushConnect and #PushMeetup
                                        </h2>
                                        <p >
                                            Meet curated Entrepreneurs and Grow your knowledge and network.
                                            Learn more
            
                                        </p>
                                    </div>
                                    <div class="col s12 m12 l6">
                                        <div class="about-img top">
                                            <img src="./img/about.png" alt="Group of People" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row top-bottom">
                                        <div class="col s12 m12 l6 top-margin ">
                                            <h2 >#PushConnect and #PushMeetup
                                            </h2>
                                            <p >
                                                Meet curated Entrepreneurs and Grow your knowledge and network.
                                                Learn more
                
                                            </p>
                                        </div>
                                        <div class="col s12 m12 l6">
                                            <div class="about-img top">
                                                <img src="./img/about.png" alt="Group of People" />
                                            </div>
                                        </div>
                                    </div>

             </div>
             </section>

             <section class="achievements grey lighten-2">
                    <div class="container ">
                        <div class="row top-bottom">
                            <div class="col s12 m12 center-align head">
                                <h2>Achievements</h2>
                                <p class="bottom">
                                    We connect leaders, infuse conversation with creativity and produce results
                                    Here are some key milestones.
                                </p>
                            </div>
                            <div class="center-align bottom ">
                                <div class="col md 3 head">
                                    <h3>17K+</h3>
                                    <p class="bottom">Pushstarters</p>
                                </div>
                                <div class="col md 3 head">
                                    <h3>15K+</h3>
                                    <p class="bottom">Events</p>
                                </div>
                                <div class="col md 3 head">
                                    <h3>20+</h3>
                                    <p class="bottom">Cities</p>
                                </div>
                                <div class="col md 3 head">
                                    <h3>20+</h3>
                                    <p class="bottom">Launches</p>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </section>

                 <!-- Subscribe -->
        <section class="scrollspy2">
            <section class="subscribe-bottom scrollspy" id="join">
                <div class="container">
                    <div class="row">
                        <div class="subscribe-text">
                            <div class="col s12">
                                <h2>
                                    Sign up to the <span>Most Active Community</span>
                                    of <span>Entrepreneur</span> in India
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/signup" method="POST">
                            <div class="input-field col s6"> 
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="Your email id" />
                            </div>
                            <div class="input-field col s6 inline-btn">
                                <button type="submit" class="waves-effect waves-light btn">Join Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>





    </main>
    <script>
    /* SideNav */
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });

   /*Form Scrollpy*/
   $(document).ready(function () {
            $('.scrollspy').scrollSpy();
        });

    </script>
</body>
</html>
       
